<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees Page</title>

</head>
<body>

    <button class="btn"><i class="fa fa-home"></i><a href="/"> HOME </a></button>
    <button class="btn"><a href="addEmployee">ADD Employee</a></button> <br>
    <h1> Employees:</h1>

<a th:each="employee: ${employees}" th:href="@{'/employees/' + ${employee.id}}">

    <table id="employees">
        <tr>
            <div>
                <td th:text="${employee.name}"></td>
                <td th:text="${employee.surname}"></td>
                <td th:text="${employee.position}"></td>
            </div>
        </tr>
    </table>
</a>
</body>
</html>