<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>A</title>
</head>
<body>

<form action="/addAddress" method="post">

    <select name="addresses[]" multiple>
        <option th:each="region: ${addresses}" th:text="${address.region}" th:value="${address.id}"></option>

    </select> <br>

    <select name="cities[]" multiple>
        <option th:each="city: ${cities}" th:text="${city.name}" th:value="${city.id}"></option>
    </select> <br>

    street: <input type="text" name="street" th:value="${address == null} ? '' : ${address.street}"/> <br>
    home: <input type="text" name="home" th:value="${address == null} ? '' : ${address.home}"/> <br>
    <input type="submit" value="save">
</form>
</body>
</html>